@media screen and (min-width: 600px) and (max-width: 900px) {
    
    .logo {
        width: 130px;
        height: 130px;
    }

    .banner {
        font-size: 27px;
    }

    .info-icon, .info-cover {
        width: 40px;
        height: 40px;
    }

    .info-cover {
        border-radius: 13px;
    }

    .text-container {
        width: 85%;
    }

    .text-container p {
        font-size: 18px;
    }

    .text-container p span {
        font-size: 15px;
    }

    .search-field {
        width: 50%;
    }

    .search-button {
        width: 50px;
        border-radius: 30px;
    }

    .search-button img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 50px) and (max-width: 599px) {

    .top-container {
        display: block;
        padding-left: 20px;
    }

    .logo {
        width: 110px;
        height: 110px;
    }
    
    .banner {
        font-size: 24px; 
    }

    .info-icon, .info-cover {
        width: 30px;
        height: 30px;
    }

    .info-container {
        width: 250px;
        padding-bottom: 50px;
    }

    .info-container-first-row {
        font-size: 17px;
    }
    
    .info-container-text {
        text-align: justify;
        font-size: 14px;
    }

    .text-container {
        width: 84%;
        height: 50px;
    }

    .text-container p {
        font-size: 15px;
    }

    .text-container p span {
       font-size: 13px; 
    }

    .image-container {
        margin: 25px 30px 0 30px;
    }

    .search-field-container {
        margin-top: 30px;
    }

    .search-field {
        width: 90%;
        padding-left: 18px;
        margin-right: 0;
    }

    .search-button {
        display: none;  
    }
}