@media screen and (min-width: 600px) and (max-width: 900px) {
    
    .logo {
        width: 130px;
        height: 130px;
    }

    .banner {
        font-size: 25px;
    }

    .text-container {
        width: 85%;
    }

    .text-container p {
        font-size: 15px;
    }

    .text-container p span {
        font-size: 12px;
    }

    .info-icon {
        width: 40px;
        height: 40px;
    }

    .info-cover {
        width: 40px;
        height: 40px;
        border-radius: 13px;
    }

    .search-field {
        height: 20px;
        font-size: 14px;
    }

    .search-button {
        width: 50px;
        border-radius: 30px;
    }

    .search-button img {
        width: 20px;
        height: 20px;
    }

}

@media screen and (min-width: 50px) and (max-width: 599px) {
    
    .logo {
        width: 90px;
        height: 90px;
    }
    
    .banner {
        font-size: 15px; 
    }

    .text-container {
        width: 84%;
    }

    .text-container p {
        font-size: 12px;
    }

    .text-container p span {
       font-size: 10px; 
    }

    .info-icon {
        width: 25px;
        height: 25px;
    }

    .info-cover {
        width: 25px;
        height: 25px;
    }









    .info-container {
        width: 250px;
        padding-bottom: 50px;
    }

    .info-container-first-row {
        font-size: 17px;
    }
    
    .info-container-text {
        text-align: justify;
        font-size: 14px;
    }







    .search-field-container {
        margin-top: 30px;
    }

    .search-field {
        width: 30%;
        height: 17px;
        font-size: 11px;
        padding-left: 18px;
    }

    .search-field:focus {
        height: 17px;
        font-size: 11px;
        outline: 2px solid rgba(198, 111, 12);
    }

    .info {
        margin-right: -20px;
    }

    .info {
        font-size: 10px;
        padding-right: 38px;
    }

    .top-container {
        padding-left: 20px;
    }

    .text {
        font-size: 13px;
    }

    .button {
        padding: 0 20px 0 20px;
    }

    .search-button {
        width: 45px;
        border-radius: 30px;
    }

    .search-button img {
        width: 16px;
        height: 16px;
    }


}