.modal-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    overflow: auto;
}

.upper-container {
    border: 1px solid rgb(95, 94, 94);
    padding: 10px;
    background-color: rgba(198, 111, 12);
    box-shadow: 3px 3px 15px black;
}

.author, .title {
    text-align: left;
    padding: 50px auto;
    margin: 5px;
    color: white;
}

.author {
    font-size: 20px;
}

.result-window {
    width: 40%;
    margin: 150px auto;
    padding: 45px;
    background-color: white;
    border: 3px solid rgba(198, 111, 12);
    box-shadow: 25px 25px 20px black;
    position: relative;
}

.description-super-container {
    height: 200px;
    overflow-y: scroll;
    position: relative;
}

.description-container {
    text-align: justify;
    line-height: 23px;
    /*margin: 0;*/
    padding-bottom: 40px;
    overflow-y: scroll;
    
    
    /*overflow-y: scroll;
    height: 150px;
    border: 1px solid rgb(213, 213, 213);
    padding: 5px 12px;
    scrollbar-width: thin;
    scrollbar-color: #888888 #f0f0f0;*/
}

.sfumato {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 1;
}

.description-text {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 0;
}


.button-container {
    margin-top: 30px;
    text-align: right;
}

.closing-button {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid rgba(198, 111, 12);
    background-color: white;
    color: rgba(198, 111, 12);
    opacity: 90%;
}

.closing-button:hover {
    background-color: rgba(198, 111, 12);
    color: black;
    transition: all 0.5s;
}
