.modal-window-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.result-window {
    width: 750px;
    margin: 150px auto;
    padding: 35px;
    background-color: white;
    border: 1px solid rgba(198, 111, 12);
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}

.upper-container {
    border: 1px solid rgb(95, 94, 94);
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(246, 220, 177);
    box-shadow: 2px 2px 5px black;
}

.author-name, .title {
    margin: 5px;
    color: rgb(198, 111, 12);
}

.author-name {
    font-size: 18px;
}

.description-text {
    padding-left: 20px;
    font-size: 22px;
    margin-top: 35px;
    margin-bottom: 0;
}

.description-super-container {
    max-height: 200px;
    width: 100%;
    overflow-y: scroll; 
}

.description-container {
    line-height: 26px;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
    padding: 0 15px 45px 15px;
}

.nuanced {
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    z-index: 100;
    width: 100%;
    transform: translate(0, -50px);
}

.button-container {
    margin-top: 0;
    text-align: right;
}

.closing-button {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid rgba(198, 111, 12);
    border-radius: 5px;
    background-color: white;
    color: rgba(198, 111, 12);
    opacity: 90%;
}

.closing-button:hover {
    background-color: rgba(198, 111, 12);
    color: white;
    transition: all 0.3s;
}

/* Section dedicated to errors visualization */

.error-button {
    font-size: 25px;
    font-weight: 900;
    color: orange;
    cursor: pointer;
}

.message {
    width: 500px;
    padding: 25px;
    margin: 200px auto;
    background-color: white;
    border: 1px solid rgba(198, 111, 12);
    font-size: 20px;
    letter-spacing: 1px;
    justify-content: space-between;
    align-items: center;
}