
/* Version for intermediate devices */

@media screen and (min-width: 600px) and (max-width: 900px) {

    .result-window {
        width: 60%;
        margin: 50px auto;
    }
    
    .author-name {
        font-size: 15px;
    }

    .title {
        font-size: 18px;
    }

    .description-text {
        font-size: 18px;
    }
    
    .description-container {
        line-height: 23px;
        font-size: 15px;    
    }
    
    /* Section dedicated to errors visualization */
        
    .error-button {
        font-size: 25px;
    }
    
    .message {
        width: 500px;
        font-size: 20px;
    }
} 

/* Version for mobile display */

@media screen and (min-width: 50px) and (max-width: 599px) {

    .result-window {
        width: 80%;
        margin: 30px auto;
    }
    
    .author-name {
        font-size: 13px;
    }

    .title {
        font-size: 15px;
    }
    
    .description-text {
        font-size: 16px;
    }

    .description-container {
        line-height: 20px;
        font-size: 14px;  
    }
    
    .searching-message {
        max-width: 70%;
        font-size: 18px;
    }

    /* Section dedicated to errors visualization */

    .error-button {
        font-size: 18px;
    }
    
    .message {
        max-width: 70%;
        font-size: 15px;
    }
}





