.back-button-container {
    display: none;
    padding-bottom: 10px;
}

.table-pages-change-container {
    width: 100%;
    text-align: center;
}

.page-changer { 
    margin-bottom: 10px;
}

#table-container {  
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    /*padding: 0 40px 0 40px;*/
    width: 75%;
}

.first-column-data {
    width: 15px;
}

.second-column-data {
    width: 200px;
}

.third-column-data {
    width: 450px;
}

.table-author {
    background-color: rgb(132, 42, 42);
    padding: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;  
}

.table-title {
    background-color: rgb(132, 42, 42);
    padding-left: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;   
}

.progressive-number {
    background-color: rgb(132, 42, 42);
    color: white;
}

th, td  {
    font-size: 15px;
    padding: 4px 12px 4px 12px;
}

td:hover {
    cursor: pointer;
    color: rgb(132, 42, 42);
    font-weight: bold;
}

.odd {
    background-color: rgba(198, 111, 12, 0.1);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.back-button {
    font-size: 15px;
    color: rgb(132, 42, 42);
    font-weight: 500;
    padding: 3px 20px;
    background-color: rgba(198, 111, 12, 0.1);
    border: 2px solid rgb(132, 42, 42);
    border-radius: 5px;
    margin-bottom: 15px;
}

.back-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(132, 42, 42);
    transition: 0.2s box-shadow;
}

.page-change-button {
    background-color: rgba(132, 42, 42, 0.5);
    width: 20px;
    height: 20px;
    font-weight: 900;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

.page-change-button:hover {
    cursor: pointer;
}

.page-back {
    margin-right: 20px;   
}

.page-forward { 
    margin-left: 20px;
}




