.table-pages-change-container {
    width: 100%;
    
    
    text-align: center;
}

#table-pages {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

.back-button-container {
    padding-bottom: 8px;
}






table {
    padding: 0 10px 0 10px;
}

.first-column-data {
    width: 20px;
}

.second-column-data {
    width: 250px;
}

.third-column-data {
    width: 700px;
}

.table-author {
    background-color: rgb(132, 42, 42);
    padding: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;  
}

th, td  {
    font-size: 15px;
    padding: 5px 0 5px 15px;
    max-height: 20px;
    
}

td {
    height: 5px;
    max-height: 5px;
    overflow: hidden;
}


td:hover {
    cursor: pointer;
}

.table-title {
    background-color: rgb(132, 42, 42);
    padding-left: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    color: white;   
}

.progressive-number {
    background-color: rgb(132, 42, 42);
    color: white;
}

.odd {
    background-color: rgba(198, 111, 12, 0.1);
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#table-container {  
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-back {
    background-color: rgba(132, 42, 42, 0.5);
    width: 20px;
    height: 20px;
    font-weight: 900;
    margin-right: 20px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

.page-back:hover {
    cursor: pointer;
}

.page-forward {
    background-color: rgba(132, 42, 42, 0.5);
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    font-weight: 900;
    margin-left: 20px;
}

.page-forward:hover {
    cursor: pointer;
}

.back-button {
    font-size: 15px;
    color: rgb(132, 42, 42);
    font-weight: 500;
    padding: 3px 20px;
    background-color: rgba(198, 111, 12, 0.1);
    border: 2px solid rgb(132, 42, 42);
    border-radius: 5px;
    margin-bottom: 15px;
}

.back-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(132, 42, 42);
    transition: 0.2s box-shadow;
}
